body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  position: relative; /* Added to position elements absolutely */
}

nav {
  background-color: rgba(0, 0, 0, 1); /* Set background color to black */
  display: flex;
  justify-content: center;
  position: fixed; /* Keep the nav bar fixed at the top */
  top: 20px; /* Adjust distance from the top of the screen */
  z-index: 2; /* Ensures the nav is above other elements */
  padding: 10px 20px; /* Add padding around the nav buttons */
  border: 4px solid #fbffff;
  border-radius: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fbffff; /* Set text color to white */
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Add transition for border color */
  border: 2px solid transparent; /* Initially, set border to transparent */
}

nav a:hover {
  border-color: #fbffff; /* Change border color on hover */
}

.box {
  width: 630px;
  height: 530px;
  background-color: #000000;
  border: 4px solid #fbffff;
  border-radius: 20px;
  box-shadow: 0 0 20px #c4feb9, 0 0 40px #c4feb9, 0 0 60px #c4feb9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #fff; /* Set text color to white */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff; /* Neon glow effect */
  padding-top: 20px;
  z-index: 1; /* Ensure the box is below the nav */
  margin-top: 100px; /* Adjust if needed to avoid overlap with nav */
}

.box h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #fff; /* Set text color to white */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff; /* Neon glow effect */
}



.discord-button:hover {
  transform: scale(1.1); /* Grow the button */
  background-color: rgba(0, 255, 0, 0.2); /* Optional background change */
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #c4feb9;
  }
  to {
    box-shadow: 0 0 30px #c4feb9;
  }
}

canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
