body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.box {
  width: 500px;
  height: 600px;
  background-color: #333;
  border: 4px solid #c4feb9;
  border-radius: 20px;
  box-shadow: 0 0 20px #c4feb9, 0 0 40px #c4feb9, 0 0 60px #c4feb9;
  animation: glow 1.5s ease-in-out infinite alternate;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Changes justify-content to top */
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  padding-top: 20px
}

.box h1 {
  margin: 0;
  font-size: 2.5rem;
}

.discord-button {
  display: inline-block;
  background-color: transparent; /* Remove the background color */
  padding: 0; /* Remove the padding */
  border: none; /* Remove the border */
  margin-top: 20px;
  transition: transform 0.3s ease; /* Add a transform transition */
}

.discord-button img {
  width: 40px; /* Adjust the size of the icon as needed */
  height: auto; /* Maintain aspect ratio */
}

.discord-button:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #c4feb9;
  }
  to {
    box-shadow: 0 0 30px #c4feb9;
  }
}

canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
